@model TransitFlow.mvc.Models.HomeViewModel

@{
    ViewData["Title"] = "TransitSim - Головна";
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="~/css/views/Home/home.css" asp-append-version="true" />
}

<div class="main-layout">
    <partial name="Partials/_StatsWidget" model="Model" />

    <div class="sidebar-container">
        <div class="tabs-list">
            <button class="tab-trigger active" data-tab="routes">
                Маршрути
            </button>
            <button class="tab-trigger" data-tab="stops">
                 Зупинки
            </button>
            <button class="tab-trigger" data-tab="vehicles">
                 Транспорт
            </button>
        </div>

        <div class="tabs-content">
            <div id="panel-routes" class="tab-panel active">
                @await Component.InvokeAsync("RouteSidebar", new { routes = Model.Routes, stops = Model.Stops, user=Model.User })
            </div>

            <div id="panel-stops" class="tab-panel">
                @await Component.InvokeAsync("StopSidebar", new {stops = Model.Stops,user=Model.User})
            </div>

            <div id="panel-vehicles" class="tab-panel">
                <div class="placeholder-content">
                    <p>Панель керування транспортом в розробці...</p>
                </div>
            </div>
        </div>
    </div>

    <partial name="Partials/_TransitMap" />
</div>

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        window.TransitData = {
            stops: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Stops, new System.Text.Json.JsonSerializerOptions { PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase })),
            routes: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Routes, new System.Text.Json.JsonSerializerOptions { PropertyNamingPolicy = System.Text.Json.JsonNamingPolicy.CamelCase }))
        };
    </script>
    <script src="~/js/helpers/ModalManager.js" asp-append-version="true"></script>

    <script src="~/js/views/Home/home.js" asp-append-version="true" type="module"></script>
}