@model TransitFlow.mvc.Models.HomeViewModel

<div class="stats-container">
    <div class="stat-badge">Маршрути: <b>@Model.Routes.Count</b></div>
    <div class="stat-badge">Зупинки: <b>@Model.Stops.Count</b></div>
    <div class="stat-badge">Транспорт: <b>@Model.Vehicles.Count</b></div>
</div>