@model TransitFlow.mvc.Models.HomeViewModel
@{

    var onRoute = Model.Vehicles.Count(v => v.Status == "OnRoute");
    var activityPct = Model.Vehicles.Count > 0
        ? (int)Math.Round((double)onRoute / Model.Vehicles.Count * 100)
        : 0;
}
<div class="stats-container">
    <div class="stat-badge">
        <div class="stat-badge-header">
            <img class="stat-icon " src="~/images/icons/routeIcon.svg" alt="RouteIcon" />
            <span class="stat-label">Маршрутів</span>
        </div>
        <div class="stat-value">@Model.Routes.Count</div>
        <div class="stat-sub">на карті</div>
    </div>

    <div class="stat-badge">
        <div class="stat-badge-header">
            <img class="stat-icon " src="~/images/icons/stopIcon.svg" alt="StopIcon" />
            <span class="stat-label">Зупинок</span>
        </div>
        <div class="stat-value">@Model.Stops.Count</div>
        <div class="stat-sub">на карті</div>
    </div>

    <div class="stat-badge">
        <div class="stat-badge-header">
            <img class="stat-icon " src="~/images/icons/vehicleIcon.svg" alt="VehicleIcon" />

            <span class="stat-label">Транспорт</span>
        </div>
        <div class="stat-value">@Model.Vehicles.Count</div>
        <div class="stat-sub">@onRoute на маршруті</div>
    </div>

    <div class="stat-badge">
        <div class="stat-badge-header">
            <img class="stat-icon " src="~/images/icons/activityIcon.svg" alt="ActivityIcon" />
            <span class="stat-label">Активність</span>
        </div>
        <div class="stat-value">@activityPct%</div>
        <div class="stat-sub">завантаження</div>
    </div>
</div>