<div class="map-container">
    <div id="map-selection-banner" class="map-banner hidden">
        <span class="banner-icon">📍</span>
        <span id="banner-text">Натисніть на карту, щоб обрати координати зупинки</span>
        <div class="banner-actions">
            <button type="button" id="btn-banner-confirm" class="btn-banner-success hidden">Підтвердити</button>
            <button type="button" id="btn-banner-cancel" class="btn-banner-link">Скасувати</button>
        </div>
    </div>
    <div id="transit-map"></div>
</div>